project:
  type: website

website:
  title: "personal-website1"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: Work.qmd
        text: Work
        
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



